.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk", "Arial Black", Arial, Helvetica, sans-serif;
}

.page__content {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}
