.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(323px, 323px));
  /* Modify these values to resolve the issue of the cards protruding past the gutters */
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 40px 0 34px 0;
}
